---
import TeamCard from './TeamCard.astro'

type Card = {
    image: string
    name: string
    surname: string
    position: string
    fblink: string
    twitterlink: string
    linkedinlink: string
    accent?: boolean
}

interface Props{
    cards: Card[]
}

const { cards } = Astro.props

---



<div>
    {cards.map((card)=>{
        return (
            <TeamCard image={card.image} name={card.name} surname={card.surname}  position={card.position} fblink={card.fblink} twitterlink={card.twitterlink} linkedinlink={card.linkedinlink} accent={card.accent}  />
        )
    })}
</div>

<style>

div{
    max-width: 80%;
    margin-inline: auto;
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
}

@media screen and (max-width: 600px) {
    div{
        max-width: 100%;
    }
}

</style>


