---
import Icon from '../Elements/Icon.astro'
import fbIcon from '../../assets/facebook.png'
import linkedinIcon from '../../assets/linkedin-logo.png'
import twitterIcon from '../../assets/twitter.png'



interface Props {
    image: string
    name: string
    surname: string
    position: string
    fblink: string
    twitterlink: string
    linkedinlink: string
    accent?: boolean
}

const { image, name, surname, position, fblink, twitterlink, linkedinlink,accent } = Astro.props

---


<div class={accent ? "card accent" : "card"}>
    <img src={image} alt="image">
    <p>{position}</p>
    <p>{name} {surname}</p>
    <div>
        <a href={fblink} target="_blank" rel="noopener noreferrer">
            <Icon src={fbIcon.src} alt="instagram"/>
        </a>
        <a href={twitterlink} target="_blank" rel="noopener noreferrer">
            <Icon src={twitterIcon.src} alt="twitter"/>
        </a>
        <a href={linkedinlink} target="_blank" rel="noopener noreferrer">
            <Icon src={linkedinIcon.src} alt="linkedin"/>
        </a>
    </div>
</div>

<style>

.accent{
    background-color: var(--secondary-color) !important;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 260px;
    align-items: center;
    gap: 1rem;
    padding: 2.4rem 3.2rem;
    background-color: var(--primary-color);
}

p:nth-child(2){
    font-size: 1.6rem;
}

p:nth-child(3){
    font-size: 2.6rem;
}

p{
    font-weight: 800;
    text-align: center;
}

a{
    transition: all 0.3s ease;
}

a:hover{
    transform: scale(1.1);
}

.card div{
    display: flex;
    gap: 3rem;
}

img{
    max-width: 150px;
}


</style>