---
import Layout from '../layouts/Layout.astro';
import SecondaryHeader from '../components/SecondaryHeader.astro';
import PostCard from '../components/Blog/PostCard.astro';

const allPosts = await Astro.glob('../content/blog/*.md');

---

<Layout title="BLOG">
	<SecondaryHeader 
		title="blog" 
		text="Welcome to our blog, your go-to destination for insightful articles, industry updates, and inspiration in the world of construction. Whether you're a homeowner embarking on a renovation project, a business owner planning a commercial build, or simply interested in the latest trends and innovations in construction, our blog has something for you. " 
	/>
	<main>

		{
			allPosts.map((post) => (
				<PostCard slug={post.frontmatter.slug} title={post.frontmatter.title} description={post.frontmatter.description} thumbnail={post.frontmatter.thumbnail} date={post.frontmatter.date} />
			))
		}

	</main>
</Layout>

<style>

main{
	margin-top: 2rem;
	display: grid;
	gap: 4rem;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	justify-items: center;
}

</style>