---
import Layout from '../layouts/Layout.astro';
import SecondaryHeader from '../components/SecondaryHeader.astro';
import PostCard from '../components/Blog/PostCard.astro';

const allPosts = await Astro.glob('../content/blog/*.md');

---

<Layout title="BLOG">
	<SecondaryHeader 
		title="blog" 
		text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eget purus quis blandit. Ut porttitor fringilla tortor, nec congue urna luctus quis. Sed vehicula, erat ac commodo elementum, enim tortor interdum nibh, quis condimentum mi sem eu sapien. Nunc viverra mi at nulla faucibus, at lacinia ligula rutrum. " 
	/>
	<main>

		{
			allPosts.map((post) => (
				<PostCard slug={post.frontmatter.slug} title={post.frontmatter.title} description={post.frontmatter.description} thumbnail={post.frontmatter.thumbnail} date={post.frontmatter.date} />
			))
		}

	</main>
</Layout>

<style>

main{
	margin-top: 2rem;
	display: grid;
	gap: 4rem;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	justify-items: center;
}

</style>