---
import Layout from '../layouts/Layout.astro';
import SecondaryHeader from '../components/SecondaryHeader.astro';
import QuestionComponent from '../components/FAQ/QuestionComponent.astro';
import { Image } from 'astro:assets';

const allQuestions = await Astro.glob('../content/faq/questions/*.md');
const secondaryHeader = await Astro.glob('../content/faq/SecondaryHeader.md');
---

<Layout title={secondaryHeader[0].frontmatter.title}>
	<main>
		<SecondaryHeader 
            title={secondaryHeader[0].frontmatter.title} 
            text={secondaryHeader[0].frontmatter.text} 
        />
        
        {allQuestions && allQuestions.map((question) => (
            <div>
                <div class="image-container">
                    <Image 
                        src={question.frontmatter.imageUrl} 
                        width={600} 
                        height={400} 
                        alt="image" 
                    />
                </div>
                <QuestionComponent 
                    questionArray={question.frontmatter.questionArray} 
                    smallTitle={question.frontmatter.smallTitle} 
                    title={question.frontmatter.title} 
                    text={question.frontmatter.text} 
                />
            </div>
        ))}
	</main>
</Layout>


<style>

main > div{
    display: flex;
    align-items: center;
    padding-block: 4rem;
}

main > div:nth-child(2n + 1){
    flex-direction: row-reverse;
}

</style>