---
import Layout from '../layouts/Layout.astro';
import SecondaryHeader from '../components/SecondaryHeader.astro';
import QuestionComponent from '../components/FAQ/QuestionComponent.astro';
import { Image } from 'astro:assets';

const allQuestions = await Astro.glob('../content/faq/questions/*.md');
const secondaryHeader = await Astro.glob('../content/faq/SecondaryHeader.md');
---

<Layout title={secondaryHeader[0].frontmatter.title}>
    <SecondaryHeader 
        title={secondaryHeader[0].frontmatter.title} 
        text={secondaryHeader[0].frontmatter.text} 
    />
	<main>  
        {allQuestions && allQuestions.map((question) => (
            <div>
                <Image
                    class='image'
                    width={360}
                    height={270}
                    src={question.frontmatter.imageUrl} 
                    alt="image" 
                />
                <QuestionComponent 
                    questionArray={question.frontmatter.questionArray} 
                    smallTitle={question.frontmatter.smallTitle} 
                    title={question.frontmatter.title} 
                    text={question.frontmatter.text} 
                />
            </div>
        ))}
	</main>
</Layout>


<style>

main > div{
    display: flex;
    align-items: start;
    justify-content: center;
    padding-block: 4rem;
    gap: 4rem;
    flex-wrap: wrap;
}

.image{
    padding-top: 2rem
}

main > div:nth-child(2n + 1){
    flex-direction: row-reverse;
}

</style>