---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Home/Hero.astro';
import ServiceCards from '../components/Elements/ServiceCards.astro';
import IntroductionComponent from '../components/IntroductionComponent.astro';
import OurWorkProcedureComponent from '../components/OurWorkProcedureComponent.astro';
import ImageCarousel from '../components/Home/ImageCarousel';
import PortfolioComponent from '../components/PortfolioComponent.astro';
import VideoComponent from '../components/VideoComponent.astro';
import TestimonialComponent from '../components/TestimonialComponent.astro';

const heroContent = await Astro.glob('../content/home/Hero.md');
const imagesCarouselContent = await Astro.glob('../content/home/ImageCarousel.md');
const allServiceCards = await Astro.glob('../content/servicesContent/cards/*.md');
const introductionContent = await Astro.glob('../content/sharedContent/Introduction.md');
const procedureCardsContent = await Astro.glob('../content/sharedContent/procedureCards.md');
const videoComponentContent = await Astro.glob('../content/portfolio/VideoElement.md');
const portfolioComponent = await Astro.glob('../content/projects/PortfolioElement.md');
const testimonialContent = await Astro.glob('../content/sharedContent/testimonial.md');


let serviceCardsArray = [];

allServiceCards.map((serviceCard) => {
	serviceCardsArray.push(serviceCard.frontmatter)
})

---

<Layout title="Home">
	<Hero 
		title={heroContent[0].frontmatter.title} 
		smallTitle={heroContent[0].frontmatter.smallTitle} 
		text={heroContent[0].frontmatter.text} 
		btnLabel={heroContent[0].frontmatter.btnLabel} 
	/>
	<main>
		<ServiceCards 
			cards={serviceCardsArray} 
		/>
		<IntroductionComponent  
			title={introductionContent[0].frontmatter.title} 
			text={introductionContent[0].frontmatter.text} 
			smallTitle={introductionContent[0].frontmatter.smallTitle} 
			items={introductionContent[0].frontmatter.items}
			/>
		<OurWorkProcedureComponent 
			smallTitle={procedureCardsContent[0].frontmatter.smallTitle} 
			title={procedureCardsContent[0].frontmatter.title} 
			cards={procedureCardsContent[0].frontmatter.cards} 
		/>
		<ImageCarousel 
			client:only 
			images={imagesCarouselContent[0].frontmatter.images} 
		/>
			
		<VideoComponent 
			sourcePath={videoComponentContent[0].frontmatter.sourcePath} 
			title={videoComponentContent[0].frontmatter.title} 
			text={videoComponentContent[0].frontmatter.text} 
			smallTitle={videoComponentContent[0].frontmatter.smallTitle} 
			listElements={videoComponentContent[0].frontmatter.listElements} 
		/>
		<PortfolioComponent 
			smallTitle={portfolioComponent[0].frontmatter.smallTitle} 
			title={portfolioComponent[0].frontmatter.title} 
			text={portfolioComponent[0].frontmatter.text} 
			btnLabel={portfolioComponent[0].frontmatter.btnLabel}  
		/>
		<TestimonialComponent 
			card={testimonialContent[0].frontmatter.card} 
			smallTitle={testimonialContent[0].frontmatter.smallTitle} 
			title={testimonialContent[0].frontmatter.title} 
			text={testimonialContent[0].frontmatter.text} 
		/> 
	</main>
</Layout>

