---
import Layout from '../layouts/Layout.astro';
import SecondaryHeader from '../components/SecondaryHeader.astro';
import VideoComponent from '../components/VideoComponent.astro';
import ImageCarousel from '../components/Portfolio/ImageCarousel.tsx';

const secondaryHeader = await Astro.glob('../content/portfolio/SecondaryHeader.md');
const videoComponentContent = await Astro.glob('../content/portfolio/VideoElement.md');
const imagesCarouselContent = await Astro.glob('../content/home/ImageCarousel.md');

---

<Layout title={secondaryHeader[0].frontmatter.title}>
	<SecondaryHeader 
		title={secondaryHeader[0].frontmatter.title} 
		text={secondaryHeader[0].frontmatter.text} 
	/>
	<main>
		<VideoComponent 
			sourcePath={videoComponentContent[0].frontmatter.sourcePath} 
			title={videoComponentContent[0].frontmatter.title} 
			text={videoComponentContent[0].frontmatter.text} 
			smallTitle={videoComponentContent[0].frontmatter.smallTitle} 
			listElements={videoComponentContent[0].frontmatter.listElements} 
		/>
		<ImageCarousel 
			client:only 
			images={imagesCarouselContent[0].frontmatter.images} 
		/>
	</main>
</Layout>