---
import Layout from '../layouts/Layout.astro';
import SecondaryHeader from '../components/SecondaryHeader.astro';
import PortfolioComponent from '../components/PortfolioComponent.astro';
import ProjectCards from '../components/Projects/ProjectCards.astro';

const secondaryHeader = await Astro.glob('../content/projects/SecondaryHeader.md');
const portfolioComponent = await Astro.glob('../content/projects/PortfolioElement.md');
const projectCards = await Astro.glob('../content/projects/cards/*.md');

let projectCardsArray = [];

projectCards.map((projectCard) => {
	projectCardsArray.push(projectCard.frontmatter)
})

---

<Layout title={secondaryHeader[0].frontmatter.title.toUpperCase()}>
	<SecondaryHeader 
		title={secondaryHeader[0].frontmatter.title} 
		text={secondaryHeader[0].frontmatter.text} 
	/>
	<main>
		<div>
			<PortfolioComponent 
				smallTitle={portfolioComponent[0].frontmatter.smallTitle} 
				title={portfolioComponent[0].frontmatter.title} 
				text={portfolioComponent[0].frontmatter.text} 
				btnLabel={portfolioComponent[0].frontmatter.btnLabel}
			/>
		</div>
		<ProjectCards 
			projectCards={projectCardsArray} 
		/>
	</main>
</Layout>


<style>
	
div{
	margin-top: 8rem;
}

</style>

