---
import Layout from '../layouts/Layout.astro';
import SecondaryHeader from '../components/SecondaryHeader.astro';
import ServiceCards from '../components/Elements/ServiceCards.astro';
import OurWorkProcedureComponent from '../components/OurWorkProcedureComponent.astro';
import VideoComponent from '../components/VideoComponent.astro';
import TestimonialComponent from '../components/TestimonialComponent.astro';

const secondaryHeader = await Astro.glob('../content/servicesContent/SecondaryHeader.md');
const allServiceCards = await Astro.glob('../content/servicesContent/cards/*.md');
const procedureCardsContent = await Astro.glob('../content/sharedContent/procedureCards.md');
const videoComponentContent = await Astro.glob('../content/servicesContent/VideoElement-*.md');
const testimonialContent = await Astro.glob('../content/sharedContent/testimonial.md');

let serviceCardsArray = [];

allServiceCards.map((serviceCard) => {
	serviceCardsArray.push(serviceCard.frontmatter)
})

---

<Layout title="About">
	<main>
		<SecondaryHeader 
			title={secondaryHeader[0].frontmatter.title} 
			text={secondaryHeader[0].frontmatter.text} 
		/>
		<div>
			<ServiceCards cards={serviceCardsArray} />
		</div>
		<OurWorkProcedureComponent 
		 	smallTitle={procedureCardsContent[0].frontmatter.smallTitle} 
			title={procedureCardsContent[0].frontmatter.title} 
			cards={procedureCardsContent[0].frontmatter.cards} 
		/>

		{
			videoComponentContent.map((videoModule, index) => (
				<VideoComponent 
					reverse={index % 2 === 1}
					sourcePath={videoModule.frontmatter.sourcePath} 
					title={videoModule.frontmatter.title} 
					text={videoModule.frontmatter.text} 
					smallTitle={videoModule.frontmatter.smallTitle} 
					listElements={videoModule.frontmatter.listElements} 
				/> 	
			))
		}
		<TestimonialComponent 
			card={testimonialContent[0].frontmatter.card} 
			smallTitle={testimonialContent[0].frontmatter.smallTitle} 
			title={testimonialContent[0].frontmatter.title} 
			text={testimonialContent[0].frontmatter.text} 
			/>
	</main>
</Layout>


<style>

div{
	margin-top: 8rem;
}

</style>