---

import H1 from '../Elements/H1.astro';
import H6 from '../Elements/H6.astro';
import TextParagraph from '../Elements/TextParagraph.astro';
import Button from '../Elements/Button.astro';
import LinkButton from '../Elements/LinkButton.astro';

interface Props {
    title: string
    smallTitle: string
    text: string
    btnLabel: string
    heroImage: string
}

const { title, smallTitle, text, btnLabel, heroImage } = Astro.props

---

<section style={`background-image: url(${heroImage})`}>
    <!-- Hero Section -->
    <div class="overlay"></div>
    <div class="hero-content">
        <H6 color='var(--background-color)'>{smallTitle}</H6>
        <H1 color='var(--background-color)'>{title}</H1>
        <TextParagraph color='var(--background-color)'>{text}</TextParagraph>
        <LinkButton href="/about" label={btnLabel} textColor="var(--text-color)" backgroundColor="var(--background-color)" />
    </div>
</section>

<style define:vars={heroImage}>

.overlay{
    background-color: rgba(0, 0, 0, 0.521);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

div{
    padding-top: 2rem;
    padding-bottom: 6rem;
    container-type: inline-size;
    container-name: hero-text;
}

.hero-content{
    max-width: 60%;
    margin-inline: auto;
}

@media screen and (max-width: 760px){
    
    .hero-content{
        max-width: 100%;
        margin-inline: 2rem;
    }
    
}



</style>