---
import H2 from './Elements/H2.astro';
import H6 from './Elements/H6.astro';
import TextParagraph from './Elements/TextParagraph.astro';
import ItemsList from './Elements/ItemsList.astro';
import {Image} from 'astro:assets'
import image from '../assets/img/team.jpg'

interface Props {
    smallTitle: string
    title: string
    text: string[]
    items: string[]
}

const { smallTitle, title, text, items} = Astro.props


---

<section>
    <!-- Introduction Component -->
    <div class="text-container">
        <H6>{smallTitle}</H6>
        <H2>{title}</H2>
        {text.map(text => <TextParagraph>{text}</TextParagraph>)}
        <ItemsList 
            items={items} 
        />
    </div>
    <div class="image-container">
        <Image 
            src={image} 
            alt="image" 
        />
    </div>
</section>


<style>

section{
    display: flex;
    flex-wrap: wrap;
    gap: 0 20rem;
    justify-content: center;
}

.image-container{
    flex-basis: 600px;
    
}

.image-container img{
    width: 100%;
    height: 80%;
}

.text-container{
    flex-basis: 600px;
    flex-grow: 9999;
}

</style>