---
import H2 from './Elements/H2.astro';
import H6 from './Elements/H6.astro';
import TextParagraph from './Elements/TextParagraph.astro';
import ItemsList from './Elements/ItemsList.astro';
import {Image} from 'astro:assets'
import image from '../assets/img/galleryImage.jpg'

interface Props {
    smallTitle: string
    title: string
    text: string[]
    items: string[]
}

const { smallTitle, title, text, items} = Astro.props


---

<section>
    <!-- Introduction Component -->
    <div class="image-container">
        <Image 
            src={image} 
            alt="image" 
        />
    </div>
    <div class="text-container">
        <H6>{smallTitle}</H6>
        <H2>{title}</H2>
        {text.map(text => <TextParagraph>{text}</TextParagraph>)}
        <ItemsList 
            items={items} 
        />
    </div>
</section>


<style>

section{
    display: flex;
    padding: 6.8rem;
}

.image-container img{
    padding-block: 2rem;
    width: 700px;
    height: 500px;
}

.text-container{
    padding: 0 4.6rem;
}

</style>