---
import H2 from './Elements/H2.astro';
import H6 from './Elements/H6.astro';
import TextParagraph from './Elements/TextParagraph.astro';
import TestimonialCard from './Home/TestimonialCard.astro';

type Card = {
    srcPath: string
    name: string
    position: string
    stars: number
}

interface Props {
    smallTitle: string
    title: string
    text: string    
    card: Card
}

const { smallTitle, title, text, card } = Astro.props
---

<section>
    <!-- Testimonial Component -->
    <div>
        <H6>{smallTitle}</H6>
        <H2>{title}</H2>
        <TextParagraph>{text}</TextParagraph>
    </div>
    <TestimonialCard 
        stars={card.stars} 
        srcPath={card.srcPath} 
        name={card.name} 
        position={card.position} 
    />
</section>


<style>
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 8rem;
    justify-content: space-between;
}

</style>