---
import H2 from './Elements/H2.astro';
import H6 from './Elements/H6.astro';
import TextParagraph from './Elements/TextParagraph.astro';
import TestimonialCard from './Home/TestimonialCard.astro';

type Card = {
    srcPath: string
    name: string
    position: string
    text: string
}

interface Props {
    smallTitle: string
    title: string
    text: string    
    card: Card
}

const { smallTitle, title, text, card } = Astro.props
---

<section>
    <!-- Testimonial Component -->
    <TestimonialCard 
        srcPath={card.srcPath} 
        name={card.name} 
        position={card.position}
        text={card.text}
    />
    <div>
        <H6>{smallTitle}</H6>
        <H2>{title}</H2>
        <TextParagraph>{text}</TextParagraph>
    </div>
</section>


<style>

div{
    flex-basis: 600px;
    flex-grow: 9999;
}

section{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap:0 20rem;
}

@media screen and (max-width: 1539px) {
    section{
        flex-direction: row-reverse;
    }

    div{
        order: -1;
    }

}

</style>