---
import Video from './Elements/Video.astro';
import H6 from './Elements/H6.astro';
import H2 from './Elements/H2.astro';
import TextParagraph from './Elements/TextParagraph.astro';
import ItemsList from './Elements/ItemsList.astro';

interface Props {
    sourcePath: string
    smallTitle: string
    title: string
    text: string
    listElements: string[]
    reverse?: boolean
}

const { reverse, sourcePath, smallTitle, title, text, listElements } = Astro.props

---

<section class={`video-container ${reverse && 'reverse-flex'}`}>
    <!-- Video Container -->
    <div>
        <H6>{smallTitle}</H6>
        <H2>{title}</H2>
        <TextParagraph>{text}</TextParagraph>
        <ItemsList 
        items={listElements} 
        />
    </div>
    <Video 
        srcPath={sourcePath} 
    />
</section>

<style>

.reverse-flex{
    flex-direction: row-reverse;
}

.video-container{
    display: flex;
    flex-wrap:wrap;
    gap: 2rem;
    margin-block: 2rem;
    align-items: center;
}

.video-container > div{
    flex-basis: 600px;
    flex-grow: 1;
}

</style>